<footer id="footer">

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="/Home">Trang chủ</a> |
                            <a href="/Article/GoiThietKeWebsite">Gói thiết kế website</a> |
                            <a href="/Article/SieuThiWeb">Siêu thị Web</a> |
                            <a href="/Article/Detail/62/tu-van-ho-tro-tin-hoc-truc-tuyen">Hỗ trợ</a> |
                            <a href="/Article/Blog">Blog</a> |
                            <a href="/Home/LienHe">Liên hệ</a> |
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                            Copyright &copy; 2015. <a href="http://tuvantinhoc.vn/" rel="develop">Tư vấn tin học</a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>