@model IEnumerable<TNVTH.Web.Models.T_Slide>
<!-- Header -->
<header id="head">
    <div class="container">
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="Content/themes/tvth/images/slides/thumbs/img1.jpg" data-src="Content/themes/tvth/images/slides/img1.jpg">
                </div>
                <div data-thumb="Content/themes/tvth/images/slides/thumbs/img2.jpg" data-src="Content/themes/tvth/images/slides/img2.jpg">
                </div>
                <div data-thumb="Content/themes/tvth/images/slides/thumbs/img3.jpg" data-src="Content/themes/tvth/images/slides/img3.jpg">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->
