<div id="courses top-margin">
    <section class="container">
        <h2 class="text-center"><span><a href="/Home/DichVu" class="nolink">Dịch vụ</a></span></h2>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-cogs fa-2x"></i>
                    <div class="text">
                        <h3>Thiết kế website</h3>
                        Cung cấp giải pháp thiết kế website theo yêu cầu, thiết kế website trọn gói theo mẫu giá rẻ, nhiều mẫu giao diện đẹp, khả năng tùy biến cao, tối ưu hóa Onpage.
                        <a href="/Article/ThietKeWeb" title="Xem chi tiết">Xem chi tiết >></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-leaf fa-2x"></i>
                    <div class="text">
                        <h3>Quảng cáo Google</h3>
                        Tư vấn từ khóa hiệu quả, nhắm đúng khách hàng mục tiêu, theo dõi đấu giá từ khóa, tăng điểm chất lượng quảng cáo Google tối ưu chi phí tốt nhất.
                        <a href="/Article/Detail/71/quang-cao-google" title="Xem chi tiết">Xem chi tiết >></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-tachometer fa-2x"></i>
                    <div class="text">
                        <h3>Dịch vụ SEO</h3>
                        Dịch vụ SEO website chuyên nghiệp bền vững, gia tăng sự nhận diện thương hiệu của doanh nghiệp trên internet, tối đa hóa lợi nhuận với chi phí tối ưu nhất
                        <a href="/Article/Detail/72/dich-vu-seo" title="Xem chi tiết">Xem chi tiết >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-eye fa-2x"></i>
                    <div class="text">
                        <h3>Digital Marketing</h3>
                        Tư vấn chiến lược Digital Marketing cho doanh nghiệp. Triển khai dịch vụ Digital Marketing, Social Marketing, Inbound Marketing, SEO, PPC chuyên nghiệp, hiệu quả
                        <a href="/Article/Detail/75/dich-vu-digital-marketing-chuyen-nghiep-hieu-qua-cao-tiet-kiem-chi-phi" title="Xem chi tiết">Xem chi tiết >></a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-quote-right fa-2x"></i>
                    <div class="text">
                        <h3>Hosting</h3>
                        Dịch vụ lưu trữ website, mua hosting chất lượng cao, giá rẻ. Hosting Window, Hosting Linux với các máy chủ cấu hình cao, hỗ trợ nhiều ngôn ngữ lập trình.
                        <a href="/Article/Detail/73/bang-gia-hosting" title="Xem chi tiết">Xem chi tiết >></a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box">
                    <i class="fa fa-arrows fa-2x"></i>
                    <div class="text">
                        <h3>Tên miền</h3>
                        Tư vấn tin hoc đại lý cung cấp dịch vụ đăng ký tên miền chuyên nghiệp. Đăng ký, kiểm tra tên miền Việt Nam và Quốc tế. Tư vấn lựa chọn tên miền đầu tư hiệu quả.
                        <a href="/Article/Detail/74/bang-gia-ten-mien" title="Xem chi tiết">Xem chi tiết >></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<hr />
<section class="news-box">
    <div class="container">
        @Html.Action("GetGoiThietKe", "Article", new {@limit=6})
    </div>
</section>

<hr />
<section class="news-box">
    <div class="container">
        @Html.Action("GetMauThietKe", "Article", new { @limit = 6 })
    </div>
</section>

<hr />

<section class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Về chúng tôi</h2></div>
            <p><span>Nền kinh tế phát triển theo hướng hiện đại hóa ngày một cạnh tranh khốc liệt thúc đẩy ngành quảng cáo trực tuyến,  digital marketing, công nghệ thông tin bùng nổ, website trở thành công cụ quảng cáo năng động, hiện đại, hiệu quả và chi phí thấp hơn rất nhiều và các hình thức quảng cáo khác.</span></p>
            <a href="/Article/Detail/70/gioi-thieu" title="Giới thiệu về Tư vấn tin học" class="btn-inline " target="_self">Xem</a>
        </div>


        <div class="col-md-4">
            <div class="title-box clearfix "><h2 class="title-box_primary">Khách hàng</h2></div>
            <blockquote class="blockquote-1">
                <p>Tư vấn tin học thực hiện nhanh các yêu cầu chúng tôi đưa ra. Phong cách làm việc rất chuyên nghiệp. Chúc cho Tư vấn tin học phát triển và tiếp tục duy trì phong cách làm việc chuyên nghiệp như hiện nay !</p>
                <small>Thu Trang<cite title="Source Title"> - Vui Vĩnh Phúc</cite></small>
            </blockquote>
        </div>

        <div class="col-md-4">
            @Html.Action("GetLastestNews", "Article", new { @limit = 6 })
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h2><span>Dự án đã hoàn thành</span></h2>
            @Html.Action("GetCarousel", "Home", new { @id = 10 })

        </div><!-- /.span12 -->
    </div><!-- /.row -->
</section><!-- /.container -->