@model TNVTH.Web.Models.T_News

<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h1>Liên hệ với chúng tôi</h1>
            </div>
        </div>
    </div>
</header>

<!-- container -->
<section class="container" style="min-height:70px;">
    <div class="row">
        <!-- main content -->
        <section class="col-sm-8 article-content">
		<div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29734.182411448266!2d105.618299!3d21.319992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbad824657a9a4c1b!2zdHJ1bmcgdMOibSB0xrAgduG6pW4gdGluIGjhu41j!5e0!3m2!1sen!2sus!4v1443496646262" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
        </section>
        <!-- /main -->
        <!-- Sidebar -->
        <aside class="col-sm-4 sidebar sidebar-right">
            <p><h2 style="color:red;">Trung tâm Tư vấn tin học</h2></p>
            <div class="contact-info">
                <p><i class="fa fa-phone"></i><strong>0974 528 582</strong></p>
                <p><i class="fa fa-envelope-o"></i><strong>etuannv@gmail.com</strong></p>
                <p><i class="fa fa-skype"></i><strong>etuannv</strong></p>
                <p><i class="fa fa-map-marker"></i><strong>Cột điện 4A, Trại Thủy, Liên Bảo, Vĩnh Yên, Vĩnh Phúc</strong></p>
            </div>
            <hr />
            <p><strong>Trung tâm tư vấn tin học chuyên:</strong></p>
            <ul style="list-style:circle;">
                <li>Thiết kế website, hosting, tên miền</li>
                <li>SEO website</li>
                <li>Quảng cáo trên các mạng xã hội</li>
                <li>Tư vấn, hỗ trợ tin học</li>
                <li>Dịch vụ sửa chữa máy tính tại nhà khu vực Vĩnh Yên, Vĩnh Phúc</li>
            </ul>
            

        </aside>
        <!-- /Sidebar -->
    </div>
</section>
